<main >
  <h1 class="bg-amber-200 px-2 py-1 rounded">Search by</h1>
  <section class="flex flex-wrap flex-col gap-4 bg-sky-100 rounded py-5">
    <div class="flex flex-row justify-around" *ngFor="let list of searchFields">
      <p class="text-sm">{{ list.symbol }}</p>
      <span class="text-sm"> {{ list.labelName }}</span>
      <input
        class="text-sm w-5/12 md:w-7/12"
        type="text"
        (keyup.enter)="handleSearchOnEnter(list.symbol,$event)"
        [(ngModel)]="list.inputValue"
        [name]="'input_' + list.labelName"
        autocomplete="off"
      />
    </div>
  </section>
</main>
