<main>
  <header class="bg-amber-200 px-2 py-1 rounded flex justify-between flex-col md:flex-row">
    <h1>Search</h1>
    <h1>Use % sign to search any where in the column</h1>
  </header>
  <section class="rounded py-5 flex justify-around bg-sky-100">
    <input type="text" class="w-5/12 md:w-8/12" [(ngModel)]="searchInput" (keyup)="handleSearchValue($event)"/>
    <button class="bg-violet-300 hover:font-bold px-2 py-1 rounded" (click)="handleSearchButton()">Search</button>
    <button class="bg-violet-300 hover:font-bold px-2 py-1 rounded" (click)="handleClearButton()">Clear</button>
  </section>
</main>
